*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;


  

}
#header{
    margin: 0px;
    min-height: 48vh;
    width: 100%;
    background-image: url(imag2/flood1.jpeg);
    background-position: center;
    position: relative;
}
.banner-text{
    text-align: center;
    color: #fff ;
    padding: 155px;
}
.banner-text>h1{
    font-size: 40px;
}
.banner-text>p{
    font-size:20px;
    padding: 16px;

}
.link-button{
    color: #fff;
    padding:10px;
    color: none;

    text-decoration: none;
    font-weight: 700px;
    background-image: linear-gradient(orange, tomato);
    
}
.donate-now{
    text-align: center;
    margin-top: 60px;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.container .shadow1{
    box-sizing: border-box;
    padding: 20px;
    margin: 24px;
    background-color: ghostwhite;
    box-shadow: none;

}

.container .shadow3{
    box-sizing: border-box;
    padding: 20px;
    margin: 24px;
    background-color: ghostwhite;
    box-shadow: none;
}
.container .shadow4{
    box-sizing: border-box;
    padding: 20px;
    margin: 24px;
    background-color: ghostwhite;
    box-shadow: none;
}
.container .shadow5{
    box-sizing: border-box;
    padding: 20px;
    margin: 24px;
    background-color: ghostwhite;
    box-shadow: none;
}
.container .shadow2{
    box-sizing: border-box;
    border: 2px solid;
    color: crimson;
    padding: 20px;
    margin: 24px;
    
    width: 100px;
    background-color: antiquewhite;
    
    
    
    box-shadow: none;
    
}
.h{
    text-align: center;
    
    
}
.h >hr{
    
    margin-left: 200px;
    margin-right: 200px
    
}
    
    

.link-button2{
    text-align: center;
    text-decoration: none;
    background-color: red;
    color: #fff;
    padding: 5px;
    
}
.button{
    text-align: center;
    margin-top: 10px;
}
.donate-plan{
    text-align: center;
    margin-top: 50px;
}
.container2{
text-align: center;
margin-top: 39px;
}
.row{
    display: flex;
}
.service1{
    text-align: center;
background-color: aliceblue;
box-shadow: none;
padding: 20px;
margin: 20px;
box-sizing: border-box;
}

.service2{
    text-align: center;
    background-color:bisque;
    box-shadow: none;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
}

.service3{
    text-align: center;
background-color: cornsilk;
    box-shadow: none;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
}
.half-width{
    width: 70%;
    padding-left: 2%;
    padding-right: 4%;
}
.half-width img{
    width:95%

}
.contribute{
    display: flex;
    margin-top: 30px;
}
.link-button3{
    text-decoration:none ;
    text-align: center;
    padding: 4px;
    background-color: red;
    color: #fff;
    margin-top: 20px;
    
    
    border-radius: 5px;
}
.half-width>h1{
font-size: 26px;
}
.contribute-3{
    display: flex;
    margin-top: 41px;
}

.half-width2 img{
    width: 75%;
    padding-left: 3%;
}
.half-width2{
    width: 70%;
    padding-right: 2%;
}
.link-button3{
    text-decoration: none;
    color: #fff;
    padding: 4px;
    background-color: red;
    margin-top: 15px;
}